<ion-header>
  <ion-toolbar>
    <!-- <ion-title>
      Home
    </ion-title> -->
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content color="secondary">

  <form>
    
    <ion-text color="light">
      
      <h1 class="center">Honor Flight Rochester</h1>
      
      <ion-button expand="full" color="primary">Book Bus</ion-button>
      <ion-button expand="full" color="primary">Medical Book</ion-button>
    </ion-text>

  </form>

  <ion-button expand="full" (click)="logout()">Logout</ion-button>
</ion-content>

