
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="key_contacts()" defaultHref="/book"></ion-back-button>
    </ion-buttons>
    
    <ion-title >Hilton</ion-title>
    <!-- <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button> -->

    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-header>

<!-- <ion-content color="primary"> -->
  <ion-content >
    <ion-img class="img-group" src="assets/img/hilton.jpeg"></ion-img>
    <form>
      <ion-text color="light">
        
        <h1 class="center">Hilton</h1>
        
        <ion-button (click)="hilton()" expand="full" color="primary">Hilton</ion-button>

      </ion-text>
  
    </form>
  </ion-content>


