<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-title>Honor Flight Rochester</ion-title> -->
  </ion-toolbar>
</ion-header>
 
<ion-content color="primary">
    <ion-img class="img-group" src="assets/img/img.png"></ion-img>

  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <div class="input-darkblue">
        <ion-input type="email" placeholder="Role" formControlName="email"></ion-input>
      </div>

      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>

      <div class="input-darkblue">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </div>

      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>
 
    <ion-button class="button-group" type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>

    <p class="center-account">Account already?</p>
    <ion-button type="submit" expand="block">Register</ion-button>
    
  </form>
</ion-content>