
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="medicalsheet()" defaultHref="/medicalsheet"></ion-back-button>
    </ion-buttons>
    
    <ion-title >John Don</ion-title>
    
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<!-- <ion-content color="primary"> -->
  <ion-content>

    <ion-toolbar>
      <ion-buttons slot="secondary">
        Red Team
      </ion-buttons>
      Bus 1
    </ion-toolbar>


    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button  fill="outline">
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <ion-buttons >
        <ion-button color="danger" fill="outline">
          <ion-icon slot="start" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar><br><br>

    
    <!-- Information -->
    <h7>DOB: 1/11950</h7><br><br>
    <h7>Nickname: J</h7><br><br>
    <h7>Med Code: Green JP</h7><br><br>
    <h7>Wheel Chair Needs: Back-Up</h7><br><br>
    <h7>Wheel Chair Needs: Back-Up</h7><br><br>
    <h7>Contact: 555-5555</h7><br><br>
    <h7>Address: 123 Main St, Rochester 14623</h7><br><br>
    <h7>Medical Concerns:</h7><br><br>
    

    <ion-item class="box">
      <ion-label position="floating" color="primary"></ion-label>
      <p>Text text text text text text text text text text text text text
        text text text text text text text text text text text text text
      </p>
    </ion-item><br>

    Comments:<br><br>
    <ion-item class="box">
      <ion-label position="floating" color="primary"></ion-label>
      <p>Text text text text text text text text text text text text text
        text text text text text text text text text text text text text
      </p>
    </ion-item><br><br>


    <h7>Guardian Name: Jim Doe</h7><br><br>
    <h7>Guardian Contact: Jim Doe</h7><br><br>
    <h7>Guardian Relation: Jim Doe</h7><br><br>
    <h7>G. Address: 456 Main St, Rochester 14623</h7><br><br>
  </ion-content>


