ion-content {
    // --padding-top: 10%;
    // --margin-top: 10%;
     --padding-start: 5%;
     --padding-end: 5%;
}


.box {
    border-color: #403E39;
    border-width: thin;
    border-style: solid;
    border-radius: 3px;
}

